<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Site</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .glyphicon-thumbs-up {
            cursor: pointer
        }
    </style>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

    <script src="app/app.js"></script>

    <script src="app/routes/home/index.js"></script>
    <script src="app/routes/objects/index.js"></script>

    <script src="app/routes/home/home.controller.js"></script>
    <script src="app/routes/objects/objects.controller.js"></script>

    <script src="app/factories/objectFactory/objectFactory.js"></script>


</head>
<body ng-app="mainApp">
<div class="page-header">
    <h1>Dotmappers </h1>
    <ui-view></ui-view>
</div>
<script type="text/ng-template" id="/home.html">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <pre>{{objects}}</pre>
            <div ng-repeat="object in objects ">
                <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
                <a  href="#">
                    {{object.first_name}} {{object.last_name}}
                </a>
            </div>
        </div>
    </div>
</script>


<script type="text/ng-template" id="/objects.html">

    <div ng-repeat="post in postFactory.getPost(currentPostID)">
       <strong>Author:</strong> {{post.author}}<br/>
       <strong>Body:</strong> {{post.body}}<br/>
       <strong>Upvotes:</strong> {{post.upvotes}}<br/>
    </div>


</script>


</body>
</html>