<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>Todays App data</h1>

<% hai.forEach(function(data){ %>
<ul>
    <li><%=data.Lname %></li>
    <li><%=data.Fname %></li>
    <li><%=data.note %></li>
</ul>
<% }) %>

</body>
</html>